# Change the name of this file to .env after updating it!

POSTGRES_USER=Houcin
POSTGRES_PASSWORD=Master0324
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=Master0324Master0324Master0324Master0324
N8N_USER_MANAGEMENT_JWT_SECRET=Master0324Master0324Master0324Master0324Master0324Master0324
